<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.v.grootchat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GrootChat">
        <activity android:name=".DevelopersScreen"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".FingerprintActivity"></activity>
        <activity
            android:name=".SettingsActivity"
            android:parentActivityName=".MainActivity"></activity>
        <activity android:name=".ChatDetailActivity" />
        <activity
            android:name=".OTPVerificationActivity"
            android:parentActivityName=".PhoneActivity" />
        <activity
            android:name=".PhoneActivity"
            android:parentActivityName=".SignInActivity"></activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9392104499465946~9131467878" />

        <activity android:name=".GroupChatActivity" />
        <activity android:name=".SignInActivity"></activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MainActivity"
            android:configChanges="uiMode"></activity>
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>